body{
    min-width: 300px;
}
.menu-node{
    margin-left: 20px;
    border: 0px solid;
    padding: 2px;
    max-width: 200px;
    overflow: hidden;
    height: auto;
    border-left: 1px solid #e6661f;
    border-radius: 5px;
    margin-top: 10px;
}
.menu-url{
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    max-width: 200px;
    text-align: center;
    margin-top: 2px;
    margin-left: 20px;
    overflow: hidden;
}

.menu_close{
    height: 24px;
}

.span-title{
    cursor: pointer;
}
